/*
COLOR PALLET
main/bg #EDEAD1
text #38302E
element #9DBBAE
header #769FB6
links #E5A78F
*/



body {
  background-color: #EDEAD1;
  font-family: calibri;
  color: #38302E;
  
}


h2{
text-align: center;

}

h1{

}

h3{

}
p{
 font-size: 20px;
  text-align: left;
}

header {
font-family: cambria;
 background-color:#769FB6;
  padding: 20px;


}

#navbar {
  overflow: hidden;
  background-color: #769FB6;
  
}

#navbar a {
  float: left;
  display: block;
  color: #38302E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

#navbar a:hover {
  background-color: #9DBBAE;
  color: #fff;
}



  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .text {
    font-size: 20px;
    text-align: left;
    flex: 1;
    padding: 20px 20px;
  }

  .image {
    flex: 1;
    text-align: center;
  }

 .caption {
    position: absolute;
    text-align: center; transform: translateX(150%);
   padding: 5px 10px;
    font-size: 14px;
}





footer {
  background-color: #769FB6;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  color: #E5A78F;
  float: right;
  padding-right: 100px;

}
a:link {
	text-decoration: underline; color: #E5A78F;}
a:visited {color: E5A78F;}
a:hover {text-decoration: underline; color: #E5A78F;}